.config-container{
    max-width:700px;
    margin:40px auto;
    padding:20px;
}

.config-container h1{
    margin-bottom:30px;
    text-align:center;
}

.form-config{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form-config label{
    font-weight:600;
}

.form-config input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

.form-config button{
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:6px;
    background:#000;
    color:#fff;
    cursor:pointer;
    font-size:16px;
}

.form-config button:hover{
    opacity:.9;
}